{% extends "dcbase/base-narrow-dialog.html" %}
{% load i18n %}

{% block pageTitle %}{{ object }} - {{ block.super }}{% endblock %}

{% block panelType %}primary{% endblock %}

{% block panelHeading %}<h4>{% blocktrans %}Delete {{ object }}{% endblocktrans %}</h4>{% endblock %}

{% block panelBody %}
    <form method="post">
        {% csrf_token %}
        <p>
            Are you sure you want to delete <strong>{{ object }}</strong>?
        </p>
        <input class="btn btn-danger" type="submit" value="{% trans "Confirm" %}" />
    </form>
{% endblock %}
