{% extends "whosgoing/single_form.html" %}

{% block style %}
    {{ block.super }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.6.0/jquery.timepicker.min.css" rel="stylesheet" />
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.6.0/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_time').timepicker({
                timeFormat: 'g:i a'
            });
        });
    </script>
{% endblock %}