{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load gravatar %}

{% block pageTitle %}{{ object.name }} - {{ block.super }}{% endblock %}

{% block style %}
    <style>
        .member-list .gravatar { margin-right: 5px; }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ object.name }}</h1>

        <div class="row">
            <div class="col-md-4">
                <h3>Invite</h3>

                {% if inviteForm %}
                    <form id="invite-form" class="form-inline" action="{% url "eventInvite" eventId=object.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <label class="sr-only" for="user">
                                    {% trans "User" %}
                                </label>
                                {% include "dcbase/form-field.html" with field=inviteForm.user %}
                                <span class="input-group-btn">
                                    <button id="invite-button" class="btn btn-default" type="submit">
                                        {% trans "Invite" %}
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div id="invite-messages"></div>
                    </form>
                {% else %}
                    <p>{% trans "Only event members may send invites." %}</p>
                {% endif %}
            </div>
            <div class="col-md-8">
                <h3>Members</h3>
                <ul class="member-list">
                    {% for user in object.members.all %}
                        <li>
                            <a href="{% url "account_profile_user" username=user.username %}">
                                {% gravatar user.email 30 %}{% user_display user %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#invite-form').ajaxForm({
                success: function (response, status) {
                    var message = '';

                    if (response['success']) {
                        message += '<div class="text-success">Invitation sent!</div>';
                    }
                    else {
                        var errors = response['errors'];
                        $.each(errors, function (index, errorMessage) {
                            message += '<div class="text-danger">' + errorMessage + '</div>';
                        })
                    }

                    $('#invite-messages').html(message);
                    $('#invite-form').resetForm();
                },
                error: function(xhr, response, status) {
                    $('#invite-messages').html('<div class="text-danger">Failed to submit invitation: ' + status + '</div>')
                }
            });
        });
    </script>
{% endblock %}
