{% extends "base.html" %}
{% load i18n %}

{% block pageTitle %}{{ object.name }} - {{ block.super }}{% endblock %}

{% block style %}
    <style>
        .member-list .gravatar { margin-right: 5px; }
        .kick-button:hover { cursor: pointer; }
        #kick-form { display: inline; margin-left: 5px; }
        #occurance-pane { border-left: 2px solid #bbb; border-right: 2px solid #bbb; }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-9 col-xs-12">
                <h1>{{ object.name }}</h1>
                <p>{{ object.description }}</p>
            </div>
        </div>
        <hr />

        <div class="row">
            <div id="members-pane" class="col-sm-3">
                <h3>{% trans "Members" %}</h3>
                {% include "whosgoing/members_list.html" %}
            </div>

            <div id="occurance-pane" class="col-sm-6">
                <h3>{% trans "Next Occurrence" %}</h3>
                <p>Coming soon...</p>
            </div>

            <div id="action-pane" class="col-sm-3">
                <h3>{% trans "Actions" %}</h3>
                {% if user_is_member %}
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#inviteModal">
                        {% trans "Invite To Event" %}
                    </button>
                {% else %}
                    <p>{% trans "Only event members may edit the event." %}</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "whosgoing/kick_confirm_dialog.html" %}
    {% include "whosgoing/invite_dialog.html" %}
{% endblock %}

{% block script %}
    <script>
        function setupInviteForm() {
            $('#invite-form').ajaxForm({
                target: '#invite-dialog-body',
                success: function() {
                    setupInviteForm();
                },
                error: function(xhr, response, status) {
                    $('#invite-messages').html('<div class="text-danger">Failed to submit invitation: ' + status + '</div>')
                }
            });

        }

        $(document).ready(function () {
            setupInviteForm();

            $('#kick-form').ajaxForm(function(response, status) {
               window.location.reload();
            });

            $('.kick-button').click(function(event) {
                var element = $(event.target);
                console.log(element.data());
                var userId = element.data('user-id');
                var userName = element.data('user-name');
                $('#kick-user-input').val(userId);
                $('#kick-user-name').html(userName);
                $('#kick-dialog').modal();
            });
        });
    </script>
{% endblock %}
