{% extends "dcbase/base-narrow-dialog.html" %}
{% load i18n %}

{% block pageTitle %}Invitation - {{ block.super }}{% endblock %}

{% block style %}
    <style>
        .event_name { color: black; font-weight: bold; font-size: 150%; font-style: italic; text-shadow: 3px 3px lightgray; }
        .invitation-form { display: inline; }
        .invitation-form:not(:first-child) { margin-left: 5px; }
    </style>
{% endblock %}

{% block panelType %}primary{% endblock %}

{% block panelHeading %}
    <h2>{% trans "You're Invited!" %}</h2>
{% endblock %}

{% block panelBody %}
    {% url "account_login" as sign_in_link %}
    {% url "account_signup" as sign_up_link %}
    {% url "account_email" as profile_email_link %}
    {% url "eventDetail" id=invitation.event.id as event_link %}

    <p>
        {% blocktrans with event_name=invitation.event_name %}
            You've been invited to join <a href="{{ event_link }}" class="event_name">{{ event_name }}</a>.
        {% endblocktrans %}
    </p>

    {% if invitation.from_name %}
        <p>
            {% if invitation.message %}
                {% blocktrans with from_name=invitation.from_name %}<strong>{{ from_name }}</strong> says:{% endblocktrans %}
            {% else %}
                {% blocktrans with from_name=invitation.from_name %}From <strong>{{ from_name }}</strong>{% endblocktrans %}
            {% endif %}
        </p>
    {% endif %}

    {% if invitation.message %}
        <blockquote>{{ invitation.message }}</blockquote>
    {% endif %}

    {% if user.is_authenticated and not inviteForUser %}
        {% blocktrans with invite_email=invitation.address %}
            <p>
                Unfortunately, the email address for this invitation, <strong>{{ invite_email }}</strong>,
                doesn't match any email address associated with your account.
            </p>

            <p>
                If this is one of your alternate email addresses, please <a href="{{ profile_email_link }}">add it to your profile</a>
                and return here to accept the invitation.
            </p>
        {% endblocktrans %}
    {% else %}
        {% if user.is_authenticated %}
            <div>
                <form class="invitation-form" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="accept" />
                    <button class="btn btn-success">Join<span class="hidden-xs"> the</span> Event</button>
                </form>
                <form class="invitation-form" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="reject" />
                    <button class="btn btn-danger">Reject<span class="hidden-xs"> the Invitation</span></button>
                </form>
            </div>
        {% else %}
            <p>
                {% blocktrans with next=request.path %}
                    <a class="btn btn-xs btn-primary" href="{{ sign_in_link }}?next={{ next }}">Sign In</a> to your existing account or
                    <a class="btn btn-xs btn-success" href="{{ sign_up_link }}?next={{ next }}">Sign Up</a> for a new account
                    to accept this invitation.
                {% endblocktrans %}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}