{% load i18n %}

<form id="invite-form" class="form-inline" action="{% url "eventInvite" eventId=event.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <label class="sr-only" for="address">
                {% trans "User" %}
            </label>

            {% include "dcbase/form-field.html" with field=inviteForm.address %}

            <span class="input-group-btn">
                <button id="invite-button" class="btn btn-default" type="submit">
                    {% trans "Invite" %}
                </button>
            </span>
        </div>
    </div>
    <div id="invite-messages"></div>
</form>
