{% load i18n %}

<div id="kick-dialog" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Kick Member</h4>
            </div>
            <div class="modal-body">
                <p>
                    {% blocktrans %}
                        You are about to remove <strong id="kick-user-name"></strong> from this event.
                        They will not be able to join again without an invitation from an existing member.
                    {% endblocktrans %}
                </p>

                <p>
                    {% blocktrans %}
                        Do you wish to continue?
                    {% endblocktrans %}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <form id="kick-form" method="post" action="{% url "eventKick" eventId=object.id %}">
                    {% csrf_token %}
                    <input id="kick-user-input" name="user" type="hidden" value="-1" />
                    <button type="submit" class="btn btn-danger">Kick</button>
                </form>
            </div>
        </div>
    </div>
</div>
