{% extends "dcbase/base-narrow-dialog.html" %}
{% load i18n %}

{% block pageTitle %}{{ title }} - {{ block.super }}{% endblock %}

{% block panelType %}danger{% endblock %}

{% block panelHeading %}<h4>{% blocktrans %}Delete <strong>{{ title }}</strong>?{% endblocktrans %}</h4>{% endblock %}

{% block panelBody %}
    <form method="post">
        {% csrf_token %}
        <p>
            {% blocktrans %}
                Are you sure you want to delete <strong>{{ title }}</strong>?
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
                There is <strong>no undo</strong> from this operation. All related data will be destroyed.
            {% endblocktrans %}
        </p>
        <p>{{ extra_text }}</p>

        <input class="btn btn-danger" type="submit" value="{% trans "Confirm" %}" />
    </form>
{% endblock %}
