{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load whosgoing %}

{% block pageTitle %}{{ object.name }} - {{ block.super }}{% endblock %}

{% block style %}
    <style>
        .user-link .gravatar { margin-right: 5px; }
        .kick-button:hover { cursor: pointer; }
        #kick-form { display: inline; margin-left: 5px; }
        #occurance-pane { border-left: 2px solid #bbb; border-right: 2px solid #bbb; }
        #create-occurrence-form { margin-bottom: 10px; }
        .attendance-mark-regret { color: #a94442; }
        .attendance-mark-accept { color: #3c763d; }
        #attendance-form { margin-bottom: 10px; }
        @media(max-width: 769px) {
            #notify-address-dropdown { display: inline-block; margin-right: 5px; }
        }
        .notify-address { white-space: nowrap; padding: 5px 10px; cursor: pointer; }
        .notify-address:hover { background-color: #e6e6e6; }
        .notify-address span { margin-right: 5px; }
        #notify-address-dropdown { margin-bottom: 10px; }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-9 col-xs-12">
                <h1>{{ object.name }}</h1>

                <p>{{ object.description }}</p>
            </div>
        </div>

        <hr class="hidden-xs"/>

        <div class="row">
            <div id="action-pane" class="col-sm-3 col-sm-push-9">
                <h3 class="hidden-xs">{% trans "Actions" %}</h3>
                {% include "whosgoing/fragments/event_actions.html" %}
            </div>

            <div id="occurance-pane" class="col-sm-6">
                <h3 class="hidden-xs">{% trans "Next Occurrence" %}</h3>

                {% include "whosgoing/fragments/create_occurrence_form.html" %}
                {% include "whosgoing/fragments/occurrence_detail.html" %}
            </div>

            <div id="members-pane" class="hidden-xs col-sm-3 col-sm-pull-9">
                <h3>{% trans "Members" %}</h3>
                {% include "whosgoing/fragments/members_list.html" %}
            </div>

        </div>
    </div>

    {% include "whosgoing/fragments/kick_confirm_dialog.html" %}
    {% include "whosgoing/fragments/invite_dialog.html" %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
    {% min_script "event_detail.js" %}
    {% min_script "notify_address_checkbox.js" %}
    <script>
        var toggleNotifyAddressUrl = "{% url "whosgoing:event:toggleNotifyAddress" eventId=object.id %}";
        $(document).ready(function () {
            $('.notify-address').each(function(index, obj) {
                new whosgoing.NotifyAddressCheckbox($(obj));
            });

            setupInviteForm();
            windowResized();
            $(window).resize(windowResized);

            $('#kick-form').ajaxForm(function (response, status) {
                window.location.reload();
            });

            $('.kick-button').click(function (event) {
                var element = $(event.target);
                var userId = element.data('user-id');
                var userName = element.data('user-name');
                $('#kick-user-input').val(userId);
                $('#kick-user-name').html(userName);
                $('#kick-dialog').modal();
            });
        });
    </script>
{% endblock %}
