{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load whosgoing %}

{% block pageTitle %}{{ object.name }} - {{ block.super }}{% endblock %}

{% block style %}
    {{ block.super }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.6.0/jquery.timepicker.min.css" rel="stylesheet" />
    {% min_style "event_actions.css" %}
    {% min_style "occurrence.css" %}
    {% min_style "users.css" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-9 col-xs-12">
                <h1>{{ object.name }}</h1>

                <p>{{ object.description }}</p>
            </div>
        </div>

        <hr class="hidden-xs"/>

        <div class="row">
            <div id="action-pane" class="col-sm-3 col-sm-push-9">
                <h3 class="hidden-xs">{% trans "Actions" %}</h3>
                {% include "whosgoing/fragments/event_actions.html" %}
            </div>

            <div id="occurance-pane" class="col-sm-6">
                <h3 class="hidden-xs">{% trans "Next Occurrence" %}</h3>

                {% include "whosgoing/fragments/create_occurrence_form.html" %}
                {% include "whosgoing/fragments/occurrence_detail.html" %}
            </div>

            <div id="members-pane" class="hidden-xs col-sm-3 col-sm-pull-9">
                <h3>{% trans "Members" %}</h3>
                {% include "whosgoing/fragments/members_list.html" %}
            </div>

        </div>
    </div>

    {% include "whosgoing/fragments/kick_confirm_dialog.html" %}
    {% include "whosgoing/fragments/invite_dialog.html" %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.6.0/jquery.timepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
    {% min_script "notify_address_checkbox.js" %}
    {% min_script "kick_member.js" %}
    {% min_script "invite_form.js" %}
    <script>
var toggleNotifyAddressUrl = "{% url "whosgoing:event:toggleNotifyAddress" eventId=object.id %}";
function windowResized() {
    if ($(window).width() < 768) {
        $('#event-action-buttons').removeClass('btn-group-vertical').addClass('btn-group');
    }
    else {
        $('#event-action-buttons').removeClass('btn-group').addClass('btn-group-vertical');
    }
}
$(document).ready(function () {
    $('.notify-address').notifyAddressCheckbox();
    $('.kick-button').kickMemberButton();
    $('#kick-form').ajaxForm(function () { window.location.reload(); });
    whosgoing.setupInviteForm();
    $('#event-update-button').click(function(e) {
        dcbase.popupAjaxForm({
            url: "{% url "whosgoing:event:update" eventId=object.id %}",
            afterLoad: function() {
                $('#id_time').timepicker({
                    timeFormat: 'g:i a'
                });
            }
        });
    });
    $('#event-delete-button').click(function(e) {
        dcbase.popupAjaxForm({
            url: "{% url "whosgoing:event:delete" eventId=object.id %}"
        });
    });

    windowResized();
    $(window).resize(windowResized);
});
    </script>
{% endblock %}
