{% extends "base.html" %}
{% load i18n %}
{% load whosgoing %}

{% block style %}
{{ block.super }}
<link href="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.6.0/jquery.timepicker.min.css" rel="stylesheet" />
{% min_style "home.css" %}
{% min_style "blog.css" %}
{% endblock %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            {% include "whosgoing/fragments/home/member.html" %}
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.6.0/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.create-event-button').click(function() {
                dcbase.popupAjaxForm({
                    url: "{% url "whosgoing:createEvent" %}",
                    afterLoad: function() {
                        $('#id_time').timepicker({
                            timeFormat: 'g:i a'
                        });
                        $('.time-zone-hint').popover();
                    }
                });
            });
        });
    </script>
{% endblock %}