#invitations-panel {
    margin-bottom: 20px;
}

#no-events-message {
    padding: 10px;
    font-size: large;
}
#no-events-message .btn {
    margin: auto;
}

#whats-new-panel h1.blog-entry-title {
    font-size: 200%;
}
#whats-new-panel .panel-body {
    padding: 0;
}