#header-notifications-icon {
    display: inline;
    margin: 5px;
}

.panel-body .list-group {
    margin: -15px;
}
.panel-heading {
    position: relative;
}
.panel-heading .badge, .panel-heading .label {
    margin-left: 5px;
}
.panel-heading .btn {
    position: absolute;
    top: 5px;
    right: 10px;
}
.list-group-item .label {
    float: right;
}

.time-zone-hint {
    color: #333;
    border-bottom: 1px dashed gray;
}
.time-zone-hint:hover {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}
input.form-control.split-date-time {
    width: 120px;
}
input.form-control.split-date-time:nth-of-type(1) {
    position: absolute;
}
input.form-control.split-date-time:nth-of-type(2) {
    margin-left: 125px;
}
