{% load i18n zinnia %}

<div class="blog-entry">
    <div class="blog-entry-header well">
        <h1 class="blog-entry-title">
            <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
                {{ object.title|widont }}
            </a>
        </h1>

        <p class="blog-entry-info">
            {{ object.last_update|date:"DATE_FORMAT" }}

            {% with categories=object.categories.all %}
                {% if categories|length %}
                    {% for category in categories %}
                        <a href="{{ category.get_absolute_url }}"
                           title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}"
                           rel="tag category"
                                >
                            {{ category }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </p>
    </div>

    <div class="blog-entry-body">
        {% if object.image %}
            <div class="entry-image">
                <p>
                    {% if continue_reading %}
                        <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
                    {% endif %}
                    <img src="{{ object.image.url }}" alt="{{ object.title }}" class="left"/>
                    {% if continue_reading %}
                        </a>
                    {% endif %}
                </p>
            </div>
        {% endif %}

        <div class="entry-content">
            {{ object_content|safe }}
        </div>

        {% if continue_reading and object_content.has_more %}
            <p class="continue-reading">
                <a href="{{ object.get_absolute_url }}"
                   title="{% blocktrans with object=object.title percent=object_content.remaining_percent|floatformat:0 %}{{ percent }}% of {{ object }} still remains to read.{% endblocktrans %}"
                   rel="bookmark">
                    {% trans "Continue reading" %}
                </a>
            </p>
        {% endif %}
    </div>

    <div class="blog-entry-footer">
        {% if object.tags_list %}
            <p class="blog-entry-tags">
                <strong>{% trans "Tags" %}</strong>:
                {% for tag in object.tags_list %}
                    <a href="{% url 'zinnia:tag_detail' tag %}"
                       title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
                       rel="tag">{{ tag }} </a>
                {% endfor %}
            </p>
        {% endif %}

        <p class="blog-entry-discussions">
            <strong>{% trans "Discussions" %}</strong>:
            {% with comment_count=object.comment_count %}
                {% if comment_count %}
                    <a href="{{ object.get_absolute_url }}#comments"
                       title="{% blocktrans with object=object.title %}Comments on {{ object }}{% endblocktrans %}">
                        {% blocktrans count comment_count=comment_count %}{{ comment_count }} comment{% plural %}{{ comment_count }} comments{% endblocktrans %}
                    </a>
                {% else %}
                    {% if object.comments_are_open %}
                        {% trans "No comments yet." %}
                        <a href="{{ object.get_absolute_url }}#comment-form"
                           title="{% blocktrans with object=object.title %}Leave a comment on {{ object }}{% endblocktrans %}">
                            {% trans "Be first to comment!" %}
                        </a>
                    {% else %}
                        {% trans "Comments are closed." %}
                    {% endif %}
                {% endif %}
            {% endwith %}
        </p>
    </div>
</div>
