{% load i18n %}
{% spaceless %}
{% url "whosgoing:home" as home_link %}
{% with domain=site.domain %}
<!doctype html>
<html>
<head><title>{% block title %}{% endblock %}{% trans "WhosGoing.Today" %}</title></head>
<body style="font-size: 14px; background-color: #d3d3d3; padding: 0; margin: 0;">
<table style="font-family: Helvetica, Arial, sans-serif; width: 570px; background-color: white; border-collapse: collapse; margin: auto; margin-top: 10px; border: 1px solid black">
    <tbody>
    <tr style="background-color: black;">
        <td style="font-size: 200%; padding: 10px;">
            <a style="text-decoration: none; color: white" href="http://{{ domain }}{{ home_link }}">
                {% trans "Who's Going Today?" %}
            </a>
        </td>
    </tr>
    <tr>
        <td style="padding: 10px">
            {% block content %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid black; padding: 10px">
            {% blocktrans %}
                Thanks from the <a href="http://{{ domain }}{{ home_link }}">WhosGoing.Today</a> team!
            {% endblocktrans %}
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
{% endwith %}
{% endspaceless %}
