{% extends "whosgoing/mail/base.html" %}
{% load i18n %}

{% block title %}{{ occurrence.event.name }} - {{ block.super }}{% endblock %}

{% block content %}
    {% url "whosgoing:setAttendance" occurrenceId=occurrence.id as attendance_link %}
    {% with event_name=occurrence.event.name occurrence_time=occurrence.time event_link=occurrence.event.get_absolute_url %}
        <h2>{% trans "Good News!" %}</h2>

        <p>
            {% blocktrans %}
                There is a new occurrence of <strong style="font-size: x-large">{{ event_name }}</strong>
                on <a href="http://{{ domain }}{{ home_link }}">WhosGoing.Today</a>!
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans %}
                It is scheduled for <strong>{{ occurrence_time }}</strong>.
            {% endblocktrans %}
        </p>

        <p>
            {% trans "Use one of these buttons to indicate your attendance:" %}
        </p>

        <table style="width: 200px; margin: auto; text-align: center; font-size: large">
            <tbody>
            <tr>
                <td style="background-color: #5cb85c; padding: 6px 12px;">
                    <a style="color: #fff; text-decoration: none" href="http://{{ domain }}{{ attendance_link }}?attend=accept">
                        {% trans "Accept" %}
                    </a>
                </td>
                <td style="background-color: #d9534f; padding: 6px 12px;">
                    <a style="color: #fff; text-decoration: none" href="http://{{ domain }}{{ attendance_link }}?attend=regret">
                        {% trans "Regret" %}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <p>
            {% blocktrans %}
                Or visit the <a href="http://{{ domain }}{{ event_link }}">{{ event_name }} event page</a> see who's going
                or remove yourself from this notification list.
            {% endblocktrans %}
        </p>
    {% endwith %}
{% endblock %}