{% load i18n %}

{% if user_is_member %}
    <form id="notify-form" method="post" action="{% url "whosgoing:event:toggleNotifyAddress" eventId=event.id %}">
        {% csrf_token %}
        <input id="notify-address-value" type="hidden" name="address" />
        {% include "whosgoing/fragments/notify_address_widget.html" %}
    </form>

    <div id="event-action-buttons" class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#inviteModal">
            <span class="event-action-glyph glyphicon glyphicon-user visible-xs"></span>
            <span class="hidden-xs">{% trans "Invite To Event" %}</span>
        </button>

        <a class="btn btn-default" href="{% url "whosgoing:event:update" eventId=object.id %}">
            <span class="event-action-glyph glyphicon glyphicon-pencil visible-xs"></span>
            <span class="hidden-xs">{% trans "Edit" %}</span>
        </a>

        <a class="btn btn-danger" href="{% url "whosgoing:event:delete" eventId=object.id %}">
            <span class="event-action-glyph glyphicon glyphicon-remove visible-xs"></span>
            <span class="hidden-xs">{% trans "Delete" %}</span>
        </a>
    </div>

{% else %}
    <p>{% trans "Only event members may edit the event." %}</p>
{% endif %}
