{% load i18n %}

{% if user_is_member %}
    {% include "whosgoing/fragments/notify_address_dropdown.html" %}

    <div id="event-action-buttons" class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#inviteModal">
            <span class="event-action-glyph glyphicon glyphicon-user visible-xs"></span>
            <span class="hidden-xs">{% trans "Invite To Event" %}</span>
        </button>

        <button id="event-update-button" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil visible-xs" style="height: 20px"></span>
            <span class="hidden-xs">{% trans "Edit" %}</span>
        </button>

        <button id="event-delete-button" class="btn btn-danger">
            <span class="visible-xs"><strong>X</strong></span>
            <span class="hidden-xs">{% trans "Delete" %}</span>
        </button>
    </div>

{% else %}
    <p>{% trans "Only event members may edit the event." %}</p>
{% endif %}
