{% load i18n %}

{% if user_is_member %}
    <div class="btn-group-vertical" role="group">
        <a class="btn btn-default" href="{% url "whosgoing:event:update" eventId=object.id %}">{% trans "Edit" %}</a>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#inviteModal">
            {% trans "Invite To Event" %}
        </button>
        <a class="btn btn-danger" href="{% url "whosgoing:event:delete" eventId=object.id %}">{% trans "Delete" %}</a>
    </div>

{% else %}
    <p>{% trans "Only event members may edit the event." %}</p>
{% endif %}
