{% load i18n %}

{% if message %}
    <div id="invite-messages" class="alert alert-success">{{ message }}</div>
{% endif %}

<form id="invite-form" action="{% url "whosgoing:event:invite" eventId=event.id %}" method="post">
    {% include "dcbase/form/form.html" %}

    <div class="modal-footer">
        <button id="invite-button" class="btn btn-primary" type="submit">
            {% trans "Invite" %}
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
            {% trans "Cancel" %}
        </button>
    </div>
</form>

