{% extends "dcbase/form/popup-form.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Kick <span class="kick-user-name"></span>{% endblocktrans %}{% endblock %}

{% block beforeForm %}
    <p>
        {% blocktrans %}
            You are about to remove <strong class="kick-user-name"></strong> from this event.
            They will not be able to join again without an invitation from an existing member.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans %}
            Do you wish to continue?
        {% endblocktrans %}
    </p>
{% endblock %}
