{% load i18n %}
{% load account %}

{% if occurrence %}
    <div>
        <p>
            <strong>{% trans "When:" %}</strong> {{ occurrence.time }}
        </p>

        {% if user_is_member and not occurrence.is_past %}
            <form id="attendance-form" method="post" action="{% url "whosgoing:setAttendance" occurrenceId=occurrence.id %}">
                {% csrf_token %}

                <strong>{% trans "Going?" %} </strong>

                <input type="hidden" name="next" value="{{ request.get_full_path }}" />

                <div class="btn-group">
                    {% if not userAttendance.name == 'Accept' %}
                        <input type="submit" name="attendance" value="Accept" class="btn btn-success" />
                    {% endif %}
                    {% if not userAttendance.name == 'Regret' %}
                        <input type="submit" name="attendance" value="Regret" class="btn btn-danger" />
                    {% endif %}
                    {% if not userAttendance.name == 'Undecided' %}
                        <input type="submit" name="attendance" value="Undecided" class="btn btn-warning" />
                    {% endif %}
                </div>
            </form>
        {% endif %}

        <table class="table table-condensed">
            <tbody>
            {% for member in occurrenceMembers %}
                <tr>
                    <td>
                        {% if member.attendance.name == 'Undecided' %}
                            <span class="attendance-mark attendance-mark-undecided"><strong>?</strong></span>
                        {% elif member.attendance.name == 'Accept' %}
                            <span class="attendance-mark attendance-mark-accept glyphicon glyphicon-ok"></span>
                        {% elif member.attendance.name == 'Regret' %}
                            <span class="attendance-mark attendance-mark-regret glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% include "whosgoing/fragments/user_link_with_avatar.html" with user=member.user %}
                    </td>
                    {% if user_is_member %}
                        <td class="visible-xs">
                            <span class="kick-button text-danger" data-user-id="{{ member.user.id }}" data-user-name="{% user_display member.user %}">
                                &#x2716;
                            </span>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
